body {

    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url('../img/i_love_music_Fotor_Fotor.jpg');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center center;
    background-attachment: fixed;
    background-color: #8D0E0E;
    
 
}
.artist_list{
    background-color: black;
    margin: -10px;
    border-radius: 20px;
    padding: 20px;
}



.btn-default{
    
    margin: 10px;

}

.btn-default a{
    text-decoration: none;

}
.brand a{
    color: white;
    text-decoration: none;

}
.brand a:hover{
    color: grey;
}
.btn-group li a:hover{
    background-color: red;
    color: yellow;
    
}
.btn-group li a{
    font-weight: bolder;


 }
label{
    color: white;
    padding: 8px;
}
.social_oauth{
    color: white;
}
.social_oauth:hover{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}