{% extends 'base.html' %}


{% block body%}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="btn-group">
                        {% for genre in genres %}
                                            <div class="dropdown" style="display: inline">

                            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h2>{{genre.genre_title}}</h2>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Artist(s) {{genre.artist.artist_name}}</a></li>
                                <li><a href="#">Social Media: @{{artist.artist_handle}}</a></li>
                            </ul>
                                                </div>

                         {% endfor %}
                </div>
            </div>
        </div>
    </div>
                    
                   
        
    
    
               
        

{% endblock body%}
<!---default name--->
{% for object in object_list %}

{{object.genre_title}}<br>

{% endfor %}